<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="helper-text red-text">
          error
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password">
      <label for="password">Пароль:</label>
      <span
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="helper-text red-text">
          Пароль должен быть {{form.get('password').errors['minlength']['requireLength']}} символов
      </span>

    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form.invalid"
      class="modal-action btn waves-effect"
      type="submit"
    >
      Войти
    </button>
  </div>
</form>
